  // Place all the styles related to the Tracks controller here.
  // They will automatically be included in application.css.
  // You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  background: #FFF;
  margin-top: 75px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  /*overflow: hidden;*/
}
div.div_that_tracked_items_append_to {
  z-index: -111;
  border: 0px solid #000;
  background: #EEE;
  width: 100px;
  height: auto;
  float: left;
  padding: 10px;
  margin: 20px;
}
#mobilehand {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 50px;
  height: 80%;
  width: auto;
  /*border: 1px solid #000;*/
}
#hand {
  width: 100%;
  height: auto;
}
#mobilescreen {
  background: #EEE;
  height: 445px;
  width: auto;
}
#computer {
  width: 40%;
  height: auto;
  z-index: 1;
  top: 10%;
  left: 8%;
}
input, #track_location {
  background: lightyellow;
  border-radius: 8px;
  border: 1px solid #DDD;
  padding: 10px;
  margin: 10px;
}
nav#navbar.navbar.navbar-default {
  z-index: 100;
}
@media screen and (max-width: 1024px) {
  #mobilehand {
    visibility:hidden;
  }
  #mobilescreen {
    visibility:hidden;
  }
  #tracked_list {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 8%;
  }
  #tracked_items {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 1%;
  }
}