// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #CCC;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
div.div_that_tracked_items_append_to {
  border: 0px solid #000;
  background: #EEE;
  width: 100px;
  height: auto;
  float: left;
  padding: 10px;
  margin: 20px;
}
div#login {
  text-align: right;
}
div#svg {
  border: 1px solid #000;
  float: right;
  padding: 0;
  position: relative;
  z-index: -1;
}