<!DOCTYPE html>
<html>
<head>
  <title>Craigstr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- SPLASH AND MENU PAGE -->
<li>Facebook Omniauth</li>
<li>Twitter Omniauth</li>
<li>Devise Log-In</li>
<br>

<!-- WHEN A USER IS SIGNED THEY SEE THE PARTIAL -->
<%= yield %>

</body>
</html>
